/* fonts */
@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/GT-America-regular.woff') format('woff');
}

@font-face {
  font-family: 'ok-icon';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/ok-icon.woff') format('woff');
}

/* actual styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #4fc5d0;
  color: #fff;
  font-size: 2.2rem;
  font-family: 'GT America', sans-serif;
  margin: 1em 1em 3em;
  padding: 0 1em;
  text-align: left;
  line-height: 5.8rem;
  min-width: 25em;
}

#everything {
  display: inline-block;
}

#content {
  display: inline-block;
}

#target {
  padding-bottom: 5rem;
}

.prefix {
  display: inline-block;
  position: relative;
  top: 0.1rem;
  margin: 0 .6rem 0 0;
}

.prefix:first-child {
  display: block;
  font-size: 2rem;
}

.prefix:first-child::before { content: 'You are '; }

.box {
  display: inline-block;
  font-size: 1.8rem;
  box-sizing: border-box;
  padding: 0 5rem 0 1.7rem;
  line-height: 5.4rem;
  color: #1e1e1e;
  background-color: #fff;
  border-radius: 0.2rem;
  margin: 0 .6rem 0 0;
  position: relative;
}

.box::after {
  font-family: 'ok-icon';
  content: 'v';
  font-size: 1.2rem;
  color: #3260c7;
  opacity: 0.7;
  position: absolute;
  top: 0.2rem;
  right: 1.8rem;
}

.box.button {
  background-color: #4c7bd9;
  color: #fff;
  padding: 0 3rem;
}

.box.button::after {
  content: none;
}

#form {
  margin: 2rem 0 4rem;
  display: block;
  position: relative;
  font-size: 1.5rem;
}
#form span {
  position: absolute;
  padding-left: 3.5em;
  line-height: 1.7em;
  white-space: nowrap;
}
#form::before {
  font-size: 1.7em;
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  border-radius: 1em;
  height: 1em;
  width: 1.6em;
  background-color: #ccd0d9;
}
#form::after {
  font-size: 1.7em;
  content: ' ';
  position: absolute;
  left: 0.1em;
  top: 0.1em;
  display: inline-block;
  border-radius: 50%;
  height: 0.8em;
  width: 0.8em;
  background-color: #fff;
}
#form.checked::before { background-color: #1fc174; }
#form.checked::after { left: .7em; }
